// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.customCard {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.customCard:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}